/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
     height: 100vh;
     text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/

body > h1{ 
     padding-top: 5%;
}

#space{
     height: 100%;
     padding-top: 5%;
}

#space section{
     display:flex;
     height: 100%;
     width: 100%;
}

#media{
     display: flex;
     margin: 0 auto;

}

#space p{
     text-align: center;
     font-size: 1.5rem;

}

